@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v4/y7lebkjgREBJK96VQi37Zogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2'), url(https://fonts.gstatic.com/s/robotoslab/v4/y7lebkjgREBJK96VQi37ZrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat-Regular'), url(https://themes.googleusercontent.com/static/fonts/montserrat/v4/zhcz-_WihjSQC0oHJ9TCYL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

html {
  background-color: #e6007e;
}

body {
  font-family: Roboto Slab, sans-serif;
  color: #93cfd6;
  font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

#schedule div {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255,255,255,0.9);

  padding: 20px;
}

#schedule div > * {
  margin: 0;
  padding: 0;
  letter-spacing: -0.1em;
}

#schedule {
  color: #333;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#schedule a {
  color: #333;
}

#schedule h3 {
  padding-top: 0px;
  font-size: 36px;
  clear: right;
}

#schedule h2 {
  line-height: 48px;
  font-size: 34px;
}

#schedule a {
  color: #e6007e;
}

#schedule img {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  z-index: 0;
  width: 100%;
  max-width: 100%;
}

/* twitter colours */
#tweets a { color: #e6007e; }
.hentry .meta, #tweets .meta a { color: #e6007e; }
#tweets li { background: #f7f7f7; }
.tweet { color: #333; }

/* this simply puts a large background image on the schedule element if it matches the schedule time */
#schedule {
  background-image: url(/images/placeholder.jpg);
}

#schedule[data-time="1030"] {
  background-size: contain;
  background-color: white;
  background-image: url(http://hood.ie/images/f5af4e56.hoodie_logo.png);
}

#notices > div {
  width: 100%;
  height: 50%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

#pixelart {
  background-image: url(/images/pixelart.jpg);
  background-color: black;
}

#fh {
  background-image: url(/images/fh.jpg);
  background-color: white;
}

#barcamp {
  background-image: url(/images/barcamp.png);
  background-color: #f7f7f7;
}


/* this allows us to customise what part is animated to fullscreen */
#notices .fullscreen {
  top: 100%;
  background: white;
}

/* this third notice will slide upwards as it also has .fullscreen */
#notice3.show {
  top: 0;
}
