<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Conference Twitter Wall</title>
<link rel="stylesheet" type="text/css" href="app/screen.css">

<!-- make your customisations to the twitter wall using the custom.css -->
<link rel="stylesheet" type="text/css" href="custom.css">
</head>
<body class="hflex-wrapper">
  <div class="vflex-wrapper50">
    <div id="schedule">
      <!-- style the schedule as you please -->
      <div id="welcome" data-time="1200">
        <p>Um 12:00</p><h2>Welcome to barcamp <a>#nextweb</a></h2>
      </div>

      <div id="simon" data-time="1230">
        <p>Um 12:30</p><h2>Simon Lasselsberger <a href="http://twitter.com/lasssim">@lasssim</a></h2><h3>Runtastic Backend</h3>
      </div>

      <div id="session" data-time="1300">
        <p>Um 13:00</p><h2>Session planning for barcamp <a>#nextweb</a></h2>
      </div>

    </div>
    <div id="notices">
      <!-- here you create divs that are shown on a rotation, add fullscreen class, and customise the hold time with data-hold-time="3s" -->
      <div id="pixelart"></div>
      <div id="fh"></div>
      <div id="barcamp"></div>
    </div>
  </div>
  <div id="twitterwall">
    <ul id="tweets"></ul>
  </div>

  <script type="text/html" id="tweet_template">
    <li id="<%=id%>">
      <div class="tweet">
        <div class="vcard">
          <a href="http://twitter.com/<%=screen_name%>" class="url"><img style="height: 158px; width: 158px;" alt="@<%=screen_name%>" class="photo fn" height="48" src="<%=profile_image_url%>" width="48" /></a>
        </div>
        <div class="hentry">
          <strong><a href="http://twitter.com/<%=screen_name%>" title="<%=name%>"><%=screen_name%></a></strong>
          <span class="entry-content"><%=tweet%></span>
          <span class="meta entry-meta"><a href="http://twitter.com/<%=screen_name%>/status/<%=id%>" class="entry-date" rel="bookmark"><span class="published" title="<%=created_at%>"><%=nice_date%></span></a></span>
        </div>
        <% if (embeds.length) for (var i = 0; i < embeds.length; i++) { %>
        <%=embeds[i]%>
        <% } %>
      </div>
    </li>
  </script>


  <script src="config.js"></script>
  <script src="app/js/twitterlib.js"></script>
  <script src="app/js/jquery.min.js"></script>
  <script src="app/js/app.js"></script>
</body>
</html>







